<header>
    <div class="navbar navbar-expand-lg top-menu">
        <div class="container">
            <a href="{% url 'blog:home' %}" class="navbar-brand">Blog</a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#menuNavbar">
                <span><i class="fa fa-bars text-white"></i></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="menuNavbar">
                <ul class="navbar-nav">
                    {% for cat in categories %}
                    <li class="nav-item"><a href="{% url 'blog:post_list' cat.slug %}" class="nav-link">{{ cat.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</header>