{% extends "layout/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    <section class="my-3">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 mb-4">

                    <div class="article mb-4">
                        <article class="mb-4">
                            <h1 class="h4 mb-0 font-weight-bold">{{ post.title }}</h1>
                            <small>Publié le {{ post.created|date }} par {{ post.author }}</small>
                            <hr class="mt-2">
                            <p class="text-justify">{{ post.content|linebreaks|safe }}</p>
                        </article>
                        <a href="{% url 'blog:post_list' post.category.slug %}" class="badge badge-success p-2">{{ post.category.name }}</a>
                    </div>

                </div>
                <div class="col-lg-3 d-none d-lg-block">
                    {% include 'partials/category.html' %}
                </div>
            </div>
        </div>
    </section>
    <section class="my-2" id="comments">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="font-weight-bold">Commentaires</h2>
                    <!-- user message -->
                    {% if message %}
                    <div class="alert alert-success alert-dismissable fade show">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert">
                            <span>&times;</span>
                        </button>
                    </div>
                    {% endif %}
                    <!-- end message -->
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-lg-8">
                    <ul class="list-unstyled">
                        {% for comment in comments %}
                        <li class="media mb-3">
                            <img src="{% static 'images/user.png' %}" class="mr-3" alt="user" width="60" height="60">
                            <div class="media-body">
                                <h5 class="mt-0 mb-1">{{ comment.author }}</h5>
                                <small>Posté le {{ comment.created|date }}</small>
                                <hr class="mt-2">
                                <p class="media-text">
                                    {% if comment.status == 'moderated' %}
                                    <span class="font-weight-light font-italic text-muted">
                                        {{ comment.moderation_text }}
                                    </span>
                                    {% else %}
                                        {{ comment.content }}
                                    {% endif %}
                                </p>
                            </div>
                        </li>
                        {% empty %}
                        <li class="media mb-3">
                            Pas de commentaire disponible
                        </li>
                        {% endfor %}
                    </ul>
                    <div class="form">
                        <form action="{% url 'blog:post_detail' post.pk %}" method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                                {{ comment_form|crispy }}
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-success">Envoyer</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="my-5">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h2 class="mb-4 font-weight-bold">Articles dans la même catégorie</h2>
                </div>
            </div>
            <div class="row">
                {% for post in post_same_category %}
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h2 class="h4 mb-0 font-weight-bold"><a href="{% url 'blog:post_detail' post.pk %}" class="link-a">{{ post.title }}</a></h2>
                            <small>Publié le {{ post.created|date }} par {{ post.author }}</small>
                            <hr class="mt-2">
                            <p class="text-justify">{{ post.content|truncatewords:60 }}</p>
                            <a href="{% url 'blog:post_detail' post.pk %}" class="btn btn-outline-success">Lire la suite</a>
                        </div>
                    </div>
                </div>
                {% empty %}
                <div class="container">
                <p class="text-center">C'est le seul article dans cette categorie</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock content %}